@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
}

#header {
    background: #F8F8FF;
    border: 1px #0000001A solid;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1000; 
    top: 0;           
    left: 0;
}

#logo {
    width: 250px;
    height: 69.82413482666016;
}

#menuHeader {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.botaoMenu {
    font-family: "Poppins", sans-serif;
    color: rgba(6, 54, 67, 1);
    font-weight: 400;
    font-size: 24px;
    padding: 0px 4px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    background-color: #F8F8FF;
}

.botaoMenu:hover {
    background: rgba(107, 183, 203, 0.4);
    border-radius: 8px;
}

#banners {
    display: flex;
    background: rgba(199, 235, 251, 1);
    height: 1000px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 140px;
}

#banner {
    display: flex;
    background: rgba(248, 248, 255, 1);
    height: 450px;
    width: 1180px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 39px 80px;
    position: relative;
}

#bannerCarrossel {
    display: flex;
    margin-top: -70px;
    flex-direction: column;
    align-items: center;
}

#bannerText>button {
    background: rgba(15, 99, 122, 1);
    color: white;
    border: none;
    border-radius: 8px;
    height: 72px;
    width: 280px;
    font-size: 28px;
    font-weight: 700;
    margin-top: 8dvh;
    cursor: pointer;
    transition: 0.2s;
}

#bannerText>button:hover{
    background: rgba(124, 203, 224, 1);
    color: rgba(6, 54, 67, 1);
}

#bannerText>h1 {
    font-family: "Poppins", sans-serif;
    color: rgba(6, 54, 67, 1);
    font-size: 28px;
    font-weight: 700;
}

#bannerText {
    display: flex;
    flex-direction: column;
}

#bannerImg {
    position: absolute;
    left: 35dvh;
    top: 20dvh;
}

#bannerWave {
    position: absolute;
    left: 75%;
    top: 5%;
}

#conteudoCarrossel{
    display: flex;
    position: relative;
}

#banner1{
    width: 120dvh;
    height: 30dvh;
    background: rgba(99, 179, 201, 1);
    border-radius: 8px;
    position: relative;
    align-items: center;
    justify-content: center;
}

#banner2 {
    width: 120dvh;
    height: 30dvh;
    background-color: rgba(6, 54, 67, 1);
    background-image: url("../assets/background\ banner.png");
    border-radius: 8px;
    overflow: hidden;
}

#banner3 {
    width: 120dvh;
    height: 30dvh;
    background: rgba(248, 248, 255, 1);
    background-image: url('../assets/chuva\ banner3.png'), url('../assets/guarda\ chuva.png');
    background-repeat: no-repeat;
    background-position: 32dvw, 0dvw 0dvh;
    border-radius: 8px;
}

.slider {
    display: none;
    transition: transform 0.5s ease-in-out;
}

.on {
    display: flex;
}

#prevButton {
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: none;
}

#fwButton {
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: none;
}

.button {
    width: 5dvw;
    height: 5dvh;
    pointer-events: auto;
}

.ellipses {
    margin-top: 12px;
}

.ellipse {
    margin: 10px;
    cursor: pointer;
}

.imgBanner {
    width: 7dvw;
    height: 14dvh;
    position: absolute;
}

#conteudoBanner1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pata1 {
    left: 20px;
    top: 10px;
}

#vacina {
    width: 8dvw;
    height: 16dvh;
    left: 120px;
    top: 90px;
}

#pata2 {
    left: 280px;
    bottom: 30px;
    transform: rotate(20deg);
}

#imgGato {
    position: absolute;
    right: 80px;
    bottom: 4px;
}

#textBanner1 {
    font-family: "Poppins", sans-serif;
    margin-left: 360px;
    margin-top: -60px;
}

#textBanner1 h1 {
    color: rgba(6, 54, 67, 1);
    font-weight: 700;
    font-size: 28px;
}

#textBanner1 h2 {
    color: rgba(15, 99, 122, 1);
    font-weight: 500;
    font-size: 20px;
    margin-left: 5px;
    margin-top: -15px;
}

#textBanner1 button {
    border: none;
    width: 17dvw;
    height: 7dvh;
    border-radius: 8px;
    color: rgba(6, 54, 67, 1);
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
}

#textBanner1 button:hover {
    background: rgba(6, 54, 67, 1);
    color: rgba(248, 248, 255, 1);
}

#conteudoBanner2 {
    position: relative;
    height: 100%;
    width: 100%;
}

#gatoBanner2 {
    position: absolute;
    right: 0%;
    bottom: 0%;
}

#cachorroBanner2 {
    position: absolute;
    right: 20%;
    bottom: 0%;
}

#textBanner2 {
    font-family: "Poppins", sans-serif;
    color: rgba(250, 253, 255, 1);
    margin-left: 70px;
    margin-top: 20px;
}

#textBanner2 p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2%;
}

#textBanner2 button {
    font-family: "Poppins", sans-serif;
    border: none;
    width: 16dvw;
    height: 7dvh;
    font-size: 28px;
    color: rgba(6, 54, 67, 1);
    border-radius: 8px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
}

#textBanner2 button:hover {
    background: rgba(124, 203, 224, 1);
}

#conteudoBanner3 {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

#textBanner3 {
    font-family: "Poppins", sans-serif;
    color: rgba(6, 54, 67, 1);
    margin-top: 10px;
}

#textBanner3 h1{
    font-size: 28px;
    font-weight: 700;
}

#textBanner3 p{
    font-size: 20px;
    font-weight: 500;
}

#textBanner3 button {
    font-family: "Poppins", sans-serif;
    border: none;
    width: 14dvw;
    height: 7dvh;
    font-size: 26px;
    background: rgba(6, 54, 67, 1);
    color: rgba(248, 248, 255, 1);
    border-radius: 8px;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 30px;
}

#textBanner3 button:hover {
    background: rgba(124, 203, 224, 1);
    color: rgba(6, 54, 67, 1);
}

#divQuemsomos{
    background-color: #89C5D5;
    height: 300px;
    top: 1002px;
    width: 1920px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/fundo-animais-icons\ 2.png");
}

#texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


.quemsomos{
    font-size: 24px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #063643;
    letter-spacing: 0%;
    line-height: 100%;
    width: 177px;
    height: 36px;
    top: 24px;
    left: 862px;
}

.objetivo{
    font-size: 20px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 26px;
    letter-spacing: 2%;
    color: #063643;
    text-align: justify;
    width: 699px;
    height: 104px;
    top: 93px;
    left: 862px;
}

#logo{
    height: 300px;
    width: 300px;
    left: 459px;
}

#divNossosservicos{
    background-color: #63B3C9;
    width: 1920px;
    height: 743px;
    top: 1302px;
    background-image: url("../assets/fundo-animais-icons\ 2.png");

}

.Nossosservicos{
    font-size: 24px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #063643;
    line-height: 100%;
    letter-spacing: 0%;
    width: 199px;
    height: 29px;
    top: 53px;
    left: 450px;

}

#paragrafoGato{
    height: 418px;
    top: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 92px;
}

#concat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#gato{
    width: 320px;
    height: 260px;
    top: 15px;
    left: 450px;
    border-radius: 8px;
    border-width: 1px;

}

.descricao1{
    font-size: 20px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;;
    line-height: 30px;
    letter-spacing: 2%;
    color: #063643;
    text-align: justify;
    width: 620px;
    height: 150px;
    top: 37px;
    left: 862px;
}

#paragrafoCachorro{
    background-color: #89C5D5;
    background-image: url("../assets/fundo-animais-icons\ 2.png");
    height: 325px;
    top: 418px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.descricao2{
    font-size: 20px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;;
    line-height: 30px;
    letter-spacing: 2%;
    color: #063643;
    text-align: justify;
    width: 620px;
    height: 120px;
    top: 83px;
    left: 466px;

}

#cachorro{
    width: 320px;
    height: 260px;
    top: 25px;
    left: 1150px;
    border-radius: 8px;
    border-width: 1px;
}